@model ViewCliente.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";

}

<h2>Registro de Cliente.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })



    <div class="row">
        <div class="col-lg-6">

            <h4>Dados Pessoais</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Cpf, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control", id = "cpf" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Rg, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Rg, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DataDeNascimento, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DataDeNascimento, new { @class = "form-control", id = "nascimento" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GrupoSanguineo, "Grupo Sanguíneo:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.GrupoSanguineo, ViewBag.grupoSanguineio as SelectList, string.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrupoSanguineo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, "Sexo:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Sexo, ViewBag.sexo as SelectList, string.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DataDeExpiracao, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DataDeExpiracao, new { @class = "form-control", id = "dataexpiracao" })
                </div>
            </div>


        </div>

        <div class="col-lg-6">
            <h4>Contato</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Telefone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", id = "telefone" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.CEP, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CEP, new { @class = "form-control", id = "cep" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Endereco, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Cidade, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Bairro, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Numero, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Uf, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Uf, new { @class = "form-control", id = "uf" })
                </div>
            </div>


        </div>



    </div>

    <div class="row">

        @*<div class="col-md-offset-3">*@
        <div class="col-lg-6">

            <h4>Registro no Sistema</h4>
            <hr />

            <div class="form-group">

                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LeVX7kUAAAAAP8o4xaDmcGQOkgkBJcvI9ZzDRQf" style="margin-left: 100px;"></div>
            </div>
            <span style="display:inline-block; font-size:10px;margin:10px 0; padding:5px;border:0px solid #D3D3D3">
                @ViewBag.ErroCaptcha
            </span>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" class="btn btn-success" value="Registrar" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function ()
        {
            $("#telefone").inputmask("mask", { "mask": "(99) 99999-9999" });
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, {reverse:true});
            $("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#uf").inputmask("mask", { "mask": "AA" });
            $("#rg").inputmask("mask", { "mask": "99999999" });
            $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
            $("#dataexpiracao").inputmask("mask", { "mask": "99/99/9999" });
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
    });
    </script>
}
