@model CLRegras.Funcionario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.formacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grauDeEscolaridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grauDeEscolaridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaDeAtuacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaDeAtuacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidadeChamados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidadeChamados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupoSanguineo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupoSanguineo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
