@model CLRegras.Contato

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja remover esse contato?</h3>
<div>
    <h4>Contato</h4>
    <hr />
    <dl class="dl-horizontal">
 
        <dt>
            @Html.DisplayName("Telefone:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayName("Email:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("CEP:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayName("Endereço:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>

        <dt>
            @Html.DisplayName("Cidade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayName("Bairro:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayName("Número:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayName("UF:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", "Home")
        </div>
    }
</div>
