@model IEnumerable<CLRegras.Contato>

@{
    ViewBag.Title = "Contatos";
}

<h2>Contatos</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("CEP")
        </th>
        <th>
            @Html.DisplayName("Endereço")
        </th>
        <th>
            @Html.DisplayName("Cidade")
        </th>
        <th>
            @Html.DisplayName("Bairro")
        </th>
        <th>
            @Html.DisplayName("Número")
        </th>
        <th>
            @Html.DisplayName("UF")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uf)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
